# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.gradle/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/

# Node.js backend
node_modules/
qr_backend/node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/